
<!doctype html>
<html>
<head>
 
 <title>CSGOme.me</title>
 <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
 <ul id="navbar">
			<li><a href="/"><img src="/img/logo.png"></a>
			<li><a href="/">CSGOme.me</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/deposit">Deposit</a></li>
			<li><a href="#">Something Else</a></li>
			<li style="float: right;">
				
				
				{{#if avatar}}
				
				
				<a>
					<img src={{avatar}}>
					<b style="text-align:center">{{name}}</b>
					<span class="caret"></span>
				</a>
				
				
				{{else}}
				
				
				<a href="/auth/steam">
					<img src="/img/steam_login.png">
				</a>
				
				{{/if}}
				
			</li>
		</ul>
 {{{body}}}
	
	<thead> 
        <th>pic</th> 
		<th>name</th> 
    </thead>
	{{#each item}}
	<tbody> 
        
        <tr> 
            <th><img src={{url}} height = 100 width = 100></th>
			<td>{{name}}</td>
        </tr> 
        
    </tbody> 
</table> 	
{{/each}}	
</body>
</html>